@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #03588C, #BDBFBF);
}

main{
    background-color: white;
    width: 60%;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #02126eb6;
}

h1,h2{
    font-family: 'Times New Roman', Times, serif;
}

h1{
    color: #020F59;
    text-align: center;
    text-shadow: 1px 1px 2px #02126eb6;
}

h2{
    color: #023373;
}

p{
    text-align: justify;
}

/*
PALETA DE CORES
#020F59
#023373
#03588C
#3C7DA6
#BDBFBF
*/
